.sidebar-item{
    border-bottom: 1px grey solid;
    transition: .5s;
    
    
}

.sidebar-item .mainitem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-family: var(--main-font);
    color: var(--main-color-black);
    
}

.sidebar-item .mainitem h3{
    font-weight: 450;
    
}

.sidebar-item .subitem{
    transition: 2s;
    
}

.sidebar-item .subitem h4{
    font-weight: 400;
    font-size: 15px;
    font-family: var(--main-font);
    color: var(--main-color-black);
    margin: 12px;
}

