
.nav-item{
    list-style: none;
    
}
.nav-item h3{
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    color: #333533;
    margin: 10px;
    padding: 10px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.nav-item h3:hover{
    color: #b69121;
}


.nav-item h3 .submenu{
    list-style: none;
    position: absolute;
    background-color: aliceblue;
    width: max-content;
    padding: 5px;
    margin: 5px;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 20px 45px #333533;
    transition: all ease 0.5s;
    
}

.nav-item .submenu li h5{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    color: #333533;   
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.nav-item:hover .submenu {
    opacity: 1;   
}

.nav-item h3 .submenu li {
    padding: 0px;
    margin: 0px;
}

.nav-item:hover .submenu li:hover {
    background-color: var(--brand-color);
    color: white;
}

.nav-item:hover .submenu li:hover h5{
    background-color: var(--brand-color);
    color: white;
}