.brand-name{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif; 
    background: linear-gradient(90deg, rgba(92,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,130,69,1) 100%);
    font-size: 2vmax;
    font-weight: 700;
    -webkit-background-clip: text;
    letter-spacing: 0.08em;
    -webkit-text-fill-color: transparent;
}

/* @media (max-width: 600px) {
    #brand-name{
        color: var(--brand-color);
        font-family: var(--brand-font);
        font-size: 20px;
        font-weight: 700;
        flex: 0;
    }
}                                */