
#nav {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px #F5F3F4 solid;
}

#nav #section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav #section2 {
    justify-content: center;
    display: flex;
    opacity: 0;
}


#nav #section1 .nav-bar-extra1 {
    color: #333533;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 35px;
}


#nav #section1 .nav-bar-extra2 {
    color: #333533;
    overflow: hidden;
    cursor: pointer;
    
    position: relative;
    width: 100px;
    height: 35px;
}

#nav #section1 .nav-bar-extra2 #profile-icon {
    font-size: 25px;
    padding: 7px;
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: -35px;
}

#nav #section1 .nav-bar-extra2 #cart-icon {
    font-size: 25px;
    padding: 7px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -35px
}


#nav #section1 .nav-bar-brandname{
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: 120px;
    height: 35px;
    /* background-color: aqua; */
}


#nav #section1 .nav-bar-brandname #brand-name{
    color: var(--brand-color);
    font-family: var(--brand-font);
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: -35px;
    /* top: -100px; */

}

#nav #section1 .nav-bar-extra1 #search-icon {

    font-size: 25px;
    padding: 7px;
    cursor: pointer;
    position: absolute;
    top: -35px;
}

#nav #section1 .nav-bar-extra1 #nav-pop-icon-body {
    font-size: 25px;
    padding: 7px;
    cursor: pointer;
    position: absolute;
    display: none;
    top: -35px;
}

@media (max-width: 800px) {
    #nav #section1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #nav #section2 {
        display: none;
    }

    #nav #section1 .nav-bar-extra1 {
        color: #333533;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        width: 100px;
        height: 35px;
    }

    #nav #section1 .nav-bar-extra2 #profile-icon {
        font-size: 25px;
        padding: 5px
    }

    #nav #section1 .nav-bar-extra2 #cart-icon {
        font-size: 25px;
        padding: 5px
    }

    #nav #section1 .nav-bar-brandname #brand-name{
        color: var(--brand-color);
        font-family: var(--brand-font);
        font-size: 20px;
        font-weight: 700;
        /* flex: 0; */
        position: absolute;
    }

    #nav #section1 .nav-bar-brandname{
        overflow: hidden;
        cursor: pointer;
        position: relative;
        width: 80px;
        height: 25px;
    }
    
    #nav #section1 .nav-bar-extra1 #search-icon {
        display: none;
    }

    #nav #section1 .nav-bar-extra1 #nav-pop-icon-body {
        display: flex;
    }
    
    
    
    
    
}